<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/edit/<%= Registro._id %>" class="navbar-brand">Mi Biblioteca</a>
    </nav>
    <div class="container">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= Registro._id %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="Nombre" value="<%= Registro.Nombre %>" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Autor" value="<%= Registro.Autor %>" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Publicacion" value="<%= Registro.Publicacion %>" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Descripcion" value="<%= Registro.Descripcion %>" required class="form-control">
                        </div>
                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>