<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Mi Biblioteca</a>
    </nav>
    <div class="container">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="Nombre" placeholder="Nombre del libro" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Autor" placeholder="Autor del libro" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Publicacion" placeholder="Fecha de publicacion" required class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Descripcion" placeholder="Tema central" required class="form-control">
                        </div>
                        <button class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-15">
            <table class = "table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Publicacion</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i<valores.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= valores[i].Nombre %></td>
                            <td><%= valores[i].Autor %></td>
                            <td><%= valores[i].Publicacion %></td>
                            <td><%= valores[i].Descripcion %></td>
                            <td>
                                <a href ='/del/<%= valores[i].id %>'</a>Eliminar</a>
                                <a href ='/edit/<%= valores[i].id %>'</a>Modificar</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
                </table>
        </div>
    </div>
</body>

</html>